form{
    background-color: blanchedalmond;
}
body{
    background-repeat: no-repeat;
    background-position: center;
}
#fname{
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
}
#lname{
    background-color: chartreuse;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#city{
    background-color: coral;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fname{
    font-family: 'Courier New', Courier, monospace;
}
.lname{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.city{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Course{
    font-weight: 100;
}
#Course{
    background-color: darkblue;
}